<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.approval.project.mapper.StatusMapper">

	<select id="getAllStatus" resultType="com.approval.project.model.StatusResponseDTO">
		SELECT status_code AS statusCode
			 , status_name AS statusName
			 , CASE status_code
		        WHEN 'TMP' THEN 1
		        WHEN 'REJ' THEN 2
		        WHEN 'PND' THEN 3
		        WHEN 'APR' THEN 4
		        WHEN 'CMP' THEN 5
			    END AS num
		  FROM approval_status
		 ORDER BY num
	</select>
</mapper>